<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsty.apidemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".apis.ApiDemos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name=".apis.animation.ActivityTransition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".apis.animation.ActivityTransitionDetails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".apis.animation.BouncingBalls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".apis.animation.AnimationCloning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".apis.animation.CustomEvaluator">
            <intent-filter>


                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_C0DE" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".apis.animation.LayoutAnimationByDefault">-->
        <!--<activity android:name=".apis.animation.LayoutAnimationsHideShow">-->
        <!--<activity android:name=".apis.animation.AnimatorEvents">-->
        <!--<activity android:name=".apis.animation.AnimationLoading">-->
        <!--<activity android:name=".apis.animation.MultiPropertyAnimation">-->
        <!--<activity android:name=".apis.animation.PathAnimations">-->
        <activity android:name=".apis.animation.ReversingAnimation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
